.rs-selected {
    border: 1px solid #ccc !important;
    background-color: #2a788eff !important;
}

.rs-tooltip {
    border: 2px solid #2a788eff !important;
}

.slider-container {
    width: 95%;
}


