@media print {

    @page {
        size: A4 landscape !important;
        margin: 0mm;
    }

    body {
        margin: 5px;
        font-size: 10px !important;
    }

    #table {
        width: 100% !important;
    }

    .tabulator-print-table~.tabulator-print-table {
        display: none !important;
        width: 100% !important;
        font-size: 10px !important;
    }

    .no-print {
        display: none !important;
        visibility: hidden !important;
    }

    .lineplot {
        width: 400px !important;
        height: 250px !important;
    }

    .card {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .mapcontainer {
        break-after: always;
        page-break-after: always;
    }

    .card.titlecard {
        break-after: avoid;
        page-break-after: avoid;
        page-break-inside: auto;
        break-inside: auto;
    }

}