@media print {

    @page { 
        size: landscape;
    }

    body {
        margin: 5px;
        padding: -10px;
        font-size: 12px !important; 
    }

    .no-print {
        display: none !important;
        visibility: hidden !important;
    }

    .lineplot {
        width: 400px !important;
        height: 250px !important;
    }

    .card {
        page-break-inside: avoid; 
    }  
    
    .mapcontainer {
        page-break-after: always;
    }

    .card.titlecard {
        page-break-after: avoid; /* Allow normal flow for title cards */
        page-break-inside: auto; /* Allow normal flow for title cards */
    }

}